---
layout: layouts/home.njk
navtitle: Home
eleventyExcludeFromCollections: true
---

<div class="home-container">
  <div class="home-column">
    <h2>Posts</h2>

    {% set postslist = collections.posts | head(-4) %}
    {% include "postslist.njk" %}

    <p>More posts can be found <a href="{{ '/posts/' | url }}">here</a>.</p>
  </div>
</div>








