---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - talks
    - talk
    - resource
    - resources
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% if tag != '' %}
  <h1>Tagged "{{ tag }}"</h1>
{% else %}
  <h1>All Tags</h1>
{% endif %}

{# This actually gets all types of things....posts, talks, resources... #}
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

{% if page.url != '/tags/' %}
  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
{% endif %}