---
layout: layouts/base.njk
templateClass: tmpl-talk
---
<h1>{{ title }}</h1>
<div class="post-date">
  <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
</div>

{{ content | safe }}

<p class="back-to-posts">
  <a href="{{ '/talks' | url }}">
    Back to Talks
  </a>
</p>